@font-face {
  font-family: 'typeWriter';
  src: url('./jsImports/externalItems/fonts/Typewriter.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
:root{
  margin:0;
  padding:0;
  box-sizing: border-box;
  cursor: crosshair;
  /* font-family: 'typeWriter'; */
  font-weight: 100;
}
body{
  display: grid;
  grid-template-rows: repeat(3, auto) 3rem;
  grid-template-columns: auto, min-content;
  justify-content: center;
  gap:1vh;
  font-family: 'typeWriter';
  background-image: url(./externalItems/oceanHorizon.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 50%;
}
a{
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 1.2rem;
  justify-self: center;
  text-decoration: none;
  font-family:'typeWriter' ;
  border: none;
  background: navy;
  color:white;
  border-radius: 15px;
  padding:.5rem;

}
a:hover{
  animation: hover .2s ease-in;
  background: white;
  color:navy;
  cursor: pointer;
}

@keyframes hover{
  0%{
    background: navy;
    color: white
  }
  50%{
    background: rgb(133, 133, 248);
    color: rgb(182, 182, 250);
  }
  100%{
    background: white;
    color:navy;
  }
}
.header{
  grid-row: 1/2;
  grid-column: 1/3;
  display: grid;
  justify-content: center;

  /* background-image: url(./jsImports/externalItems/battleship.jpg); */
  background-repeat: no-repeat;
  background-position-y: 15%;
  
}
.header>h1{
  grid-row: 1/2;
  grid-column: 1/2;
  color:rgb(253, 253, 253);
  margin: 0;
  align-self: end;
  justify-self: center;
  font-family: 'typeWriter';
}
.battleshipImg{
  grid-row: 1/2;
  grid-column: 1/2;
  width:50vw;
  max-width: 600px;
  z-index: -1000
}
#alert{ /* both welcome and alert are different id's for alert window */
  position:fixed;
  bottom:50;
  right: 5vw;
}
#welcome,  #openFire{
  grid-column: 1/3;
  grid-row: 2/3;
  text-align: center;
  animation: expand .5s ease-in; /* keyframes located at bottom */
}
#openFire{
  width: 25vw;
}
.alert{

  z-index: 2;
  border: solid 1px black;
  background-color:#f6eee3;
  justify-self: center;
  align-self: center;


  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows:repeat(4, min-content);

  max-width: 40vw;
  max-height: 45vh;
  
  height: fit-content;
  font-family: 'typeWriter';


}
.admiral{
  grid-column: 2/3;
  grid-row: 1/3;
  height:13rem;
  width: auto;

}
.command{
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 1rem;
  justify-self: center;
  text-align: center;
}
.message{
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
.hintContainer{
  width:100%;
  margin-top:2vh;
  margin-left: 1vw;
  display:grid;
  grid-row: auto;
  grid-column: auto;
}
.hint{
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
}
.mouseIcon{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 5vw;
  height:auto;
  border-radius: 15%;
}
.okay{
  grid-row: 5/6; 
  grid-column: 1/3;
  justify-self: center;

  height: 2.5rem;
  width: 10rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  background-color: navy;
  
  font-family: 'typeWriter';
  color: white;
  align-self: end;
  margin-bottom: 1rem;
}
.okay:hover{
  background-color: rgba(0, 0, 128, 0.605);
  cursor: pointer;
}
.opponentBoard{
  grid-row: 2/3;
  grid-column: 1/2;
  background-image: url(./externalItems/radar.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.playerBoardContainer, .opponentBoardContainer{

  display:grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(3, fit-content);
  /* padding: 20px; */
  align-self: end;
}
.playerBoardContainer{
  grid-row: 2/3;
  grid-column: 2/3;
  padding-right: 5rem
}
.opponentBoardContainer{
  grid-row: 2/3;
  grid-column: 1/2;
  margin-left: 1rem;
}
h4{
  grid-row: 1/2;
  grid-column: 1/3;
  font-size: 2rem;
  justify-self: center;
  margin:5px;

}
.letterCoordinates{
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  height:100%;
  grid-template-rows: repeat(10, auto);
  gap:0;
  font-size: 1.5rem;
}
.numberCoordinates{
  grid-row: 3/4;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(11, auto);
  font-size: 1.5rem;
}
.playerBoard{
  grid-row: 2/4;
  grid-column: 2/3;
  
  background-image: url(https://images.pexels.com/photos/5326990/pexels-photo-5326990.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100%;
}
.opponentBoard{
  grid-row: 2/4;
  grid-column: 2/3;
 
}

.playerBoard, .opponentBoard{
  display: grid;
  grid-template-rows:repeat(10, fit-content);
  justify-self: end;
  justify-content: center;
  gap:0;
  height: fit-content;
  width: fit-content;

}

#x{
  background-color: rgba(255, 0, 0, 0.276);
}

#row{
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap:0
}
/*row is id */
.nine{ grid-row: 1;} .eight{grid-row: 2;}
.seven{grid-row: 3;} .six{grid-row: 4;} .five{grid-row: 5;}
.four{grid-row: 6;} .three{grid-row: 7;} .two{grid-row: 8;}
.one{grid-row: 9;} .zero{grid-row: 10;}

.cell, .coord{
  border:solid .1px black;
  height: 3.5rem;
  width: 3.5rem;
  justify-self: center;
  color: none;

}
.cell{
  position: relative;
  display: grid;
  text-align: center;
  justify-content: center;
}
.marker{
  position: absolute;
  /* left:0;
  bottom: 10px; */
  font-size: 3rem;
  margin:0;
  text-align: center;
  z-index: 2;
  transform: rotate(180deg);
  justify-self: center ;

}
#markerWithShip{ /* see DOM.js appendMarker() for class marker class switch */
  transform: rotate(-270deg);

  justify-self: center;
  align-self: center;
  
  
}
.cell>.ship{
  position: static;
  z-index: 1;
  background-color: none;
  
}

.coord{
  padding-top: .25vh;
  border:  none;
  text-align: center;
  font-weight: bold;
  justify-self: center;
  align-self: center;
}
.sideBar{
  grid-row: 2/3;
  grid-column: 3/4;

  justify-self: center;

  display:grid;
  grid-template-rows: repeat(2, fit-content);
  grid-template-columns: 25rem;
  margin-left: 20px;
  
  font-size: 1.4rem;
  background-color: rgb(204, 204, 204);
  border: 2px solid black;
}

.hitLogShowing{
  grid-column: 3/4;
  grid-row:2/4;
  z-index: 1;

  display:grid;
  grid-template-rows: min-content 70vh;
  height:85vh;
  width: fit-content;
  min-width: 150px;
  margin-right: 20px;
  text-align: center;
  align-self: center;
  justify-self: center;

  
  background-color: #f6eee3;
  border: 1px solid black;
  
  animation: expand 1s ease-in-out;
  overflow-y: auto;

}
@keyframes expand{
  0% {
    transform: scaleX(0);
  }

  70% {
    transform: scaleX(1.1);
  }
  
  100% {
    transform: scaleX(1);
  }
}

.title{ /* for .hitLog */
  font-size:2rem;
  text-align: center;
  grid-row: 1/2;
  display:none;
  top:0;
  padding-left: 3rem;
  padding-right: 3rem;

}
.hitLogShowing>.listContainer{
  grid-row: 2/4;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  word-wrap: break-word;
}
.list{
  padding:10px;
  margin-top:.25rem;
  font-size: 1.2rem;
  /* animation: expand .25s ease-in-out; */
}
.toggle{
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem
}
.sideBar .ships{
  width: 8rem;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(5, 10vh);
  grid-template-columns: repeat(1, min-content);
  align-self: start;
  list-style: none;
}
.ships> img{
  transform: rotate(90deg);
  margin:0;
  border-radius: 15px;

  align-self: center;
  justify-self: center;
}

.ship:hover{
  background-color: rgba(16, 0, 241, 0.459);
}

/* cell height/width = 3.5 rem */
#carrier{  /* 5:1 height */
  height: 17.5rem;
  width: 3.5rem;
  grid-row: 1/2;
  grid-column: 1/2;
  background: rgb(255, 0, 0, 0.275)
}

#battleship{ /*4:1  */
  height: 14rem;
  width: 3rem;

  grid-row: 2/3;
  grid-column: 1/2;
}
#cruiser, #submarine{ /* 3:1 */
  height: 10.5rem;
  width: 2.5rem;
}

#submarine{
  grid-row: 3/4;
}
#cruiser{
  grid-row: 4/5;
}
#destroyer{ /* 2:1 */ 
  height: 7rem;
  width: 2rem;
  grid-row: 5/6;
}
.cell>#destroyer{
  padding-left: .35rem;
}
#bottomBtn{
  align-self: top;
  justify-self: center;
  width:30%;
  padding:0;
}
.startGame{
  grid-row: 4/5;
  grid-column: 1/2;
}

.resetPieces{
  grid-row: 4/5;
  grid-column: 2/3;
  /* justify-self: start; */
}
.resetPieces{
  padding:1rem;
}
.startGame, .resetPieces, .orient{
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);

  border:none;
  border-radius: 15px;
  width: 12rem;
  font-family: 'typeWriter';
}
.orient{
  width: 9rem;
 
}
.startGame:hover, .resetPieces:hover, .orient:hover{
  cursor: pointer;
  background-color: rgb(183, 182, 182);
}

.playAgain{
  grid-row: 4/5;
  grid-column: 1/3;

  justify-self: center;

  border-radius: 15px;
  width:12rem;
  
  animation: colorChange 3s ease-in-out;
  animation-iteration-count: infinite;

  font-family: 'typeWriter';
  font-size: 1.5rem;

}
.playAgain:hover{
  background-color: white;
  
  cursor: pointer;
  border: 1.5px solid rgb(109, 109, 109);
  transition: border.5s ease;
}
@keyframes colorChange {
  0%{
    background-color: rgb(0, 71, 133);
    color: white;
  }
  50%{
    background-color: rgb(131, 197, 255);
    color: rgb(77, 76, 76)
  }  
  100%{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}
@keyframes slide{
  0%{
    margin-right: -100vw;
  }
  100%{
    margin-right:0;
  }
}


